
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Points</h1>
            <h2>{{point}}</h2>
        </div>
    </div>
    
    
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-outline-dark" (click)="incrementation()">
                ++
            </button>
            <button class="btn btn-outline-dark"  (click)="decrementation()">
                --
            </button>
        </div>
    </div>
</div>


<hr>


<div class="row text-center">
    <div class="col">
        <app-son></app-son>
    </div>
</div>